

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= movie.name %></title>
  </head>
  <body>
  <h1><%= movie.name %></h1>
  <p>Rating: <%=
    movie.rating === 6 ? 'рҹӨ©All Time FavрҹҸҶ' :
    movie.rating === 5 ? 'рҹҳҚAmazingрҹ”Ҙ' :
    movie.rating === 4 ? 'рҹҳ„GreatвӯҗпёҸ' :
    movie.rating === 3 ? 'рҹҳҗSolidрҹ‘Қ' :
    movie.rating === 2 ? 'рҹҳ•Not Greatвҡ пёҸ' :
    movie.rating === 1 ? 'рҹӨўHorribleрҹ—‘пёҸ' : 'No rating'
  %></p>
  <p><%= movie.review %></p>
  <form action="/movies/<%=movie._id%>?_method=DELETE" method="POST">
  <button type="submit">Delete <%= movie.name %></button>
</form>
<a href="/movies/<%= movie._id %>/edit">Edit <%= movie.name %></a>
<a href="/movies">Back to Movies</a>
</body>
</html>
